.efectHover1:hover {
    background-image: url('../assets/img/matematicas-tumblr-gif-10.gif');
    opacity: 80%;
    color: white;
    border-radius: 5px;
}

.efectHover2:hover {
    background-image: url('../assets/img/andy-davidson-andy.gif');
    background-size: 120px 75px;
    background-repeat: no-repeat;
    color: white;
    border-radius: 5px;
}

.efectHover3:hover{
    background-image: url('../assets/img/explode-boom.gif');
    background-size: 120px 50px;
    background-repeat: no-repeat;
    color: white;
    border-radius: 5px;
}